.views-field-field-image-product img {
  height: auto;
}

tr {

}

td {
padding: 3% 1%;
display: inline-block;
width: 47.5%;
background: #EFEDED none repeat scroll 0% 0%;
margin: 1%;
a {
  color: $darkgray;
  font-weight: bold;
}
img {
  width: 100%;

  }
}

  // margin: 10% 6%;
  // background: #81BD2C;
  // color: #fff;
  // width: 50%;
  // padding: 7%;
  // border-radius: 6%;













